/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/open-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v20-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  background-color: black;
}

h1, h2, h3, h4, h5, h5{
  font-family: "Open sans",sans-serif;
}

ul, li, a, p, figcaption{
  font: 400 15px/1.5 "Open sans",sans-serif;
}

.body-white{
  background-color: white;
}

/* Header */
nav{
  background: rgb(25,25,25);
  height: 66px;
  width: 100vw;   
  position: fixed; 
  z-index: 2000;  
}

header{ 
  z-index: 2000; 
}

/* Logotipo */
nav a div{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  margin: auto;
  height: 27px;
  display: flex;
  align-items: center;
}

nav a img{
  height: 27px;
  display: table-cell;
  vertical-align: middle;
  width: 41.5%;
}

nav a .logo-reduce{
  display: none;
}

nav a div p{
  font-size: 1.1rem;
  color: white;
  margin-left: 8px;

}


nav a div:hover{
  opacity: 0.5;
}

nav ul{
  float: right;
  margin-right: 3%;
}

nav ul li{
  display: inline-block;
  line-height: 4.1rem;
  margin: 0 8px;
  font-size: 0.88rem;
  text-transform: uppercase;
}

nav ul li a{
  opacity: 0.5;
  padding: 6px 10px;
  border-radius: 3px;
  color:white;
}

.activo{
  opacity: 1;
}

nav ul li a:hover{
  background-color: rgba(160,160,160,0.3);
  opacity: 1;
}

nav ul li a:active{
  background-color:white;
  color:black;
}

/* Menú responsive */
.menu-ham{
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.menu-ham span{
  background-color: white;
  display: block;
  height: 4px;
  width: 28px;
  margin: 5px auto;
  border-radius: 1px;
}

/* Animaciones menú responsive */
.br-1.animation{
  transform: rotate(-45deg) translate(-5px, 7.8px);
  transition: 0.4s;
}

.br-2.animation{
  opacity: 0; 
}

.br-3.animation{
  transform: rotate(45deg) translate(-5px, -7.8px);
  transition: 0.4s;
}

/* media queries header*/
@media (max-width: 992px){

  .menu-ham{
    display: block;
    position: absolute;
    right: 5.5%;
    top: 0;
    bottom: 0;
    margin: auto; 
  }

  nav a img{
    left: 5.5%;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 66px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    font-size: 1rem;
  }

  nav ul.show{
    background-color: rgba(25,25,25,0.95);
    left: 0;
  }

  nav ul li{
    line-height: 2rem;
    text-align: center;
    display: block;
    margin: 26px 0;
    border-bottom: 2px solid rgba(160,160,160,0.3);
    padding-bottom: 20px;
  }

  nav ul li a{
    opacity: 1;
  }
}   

@media (max-width: 576px){
  nav a .logo {
    display: none;
  }
  nav a .logo-reduce {
    display: inline;
  }

  nav a img {
    height: 25px;
    width: 8%;
  }
}

/* main detalles de una receta*/
/*banner*/

.banner-recipe{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: banner-recipe-anim 1s ease-in-out 0s 1;
  height: calc(44vh + 66px);
}

@keyframes banner-recipe-anim{
  from{
    transform: scale(1.05);
    opacity:0;
  }
  to{
    transform: scale(1);
    opacity:1;
  }
}

.container-flex-recipe {
  z-index: 2;
  position: relative;
}

.banner-recipe > div {
  align-items: center;
  position: absolute;
  margin-top: 66px;
  background-color:rgba(0,0,0,0.75);
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  padding:3%;
  animation: banner-recipe-div  1s ease-in-out 0s 1;
}

@keyframes banner-recipe-div{
  from{
    transform: translateY(-20px);
    opacity:0;
  }
  to{
    transform: translateY(0px);
    opacity:1;
  }
}

.banner-recipe > div h1{
  font-weight: 400;
  font-size: 2.4rem;
  margin-right: 60px;
}

.banner-recipe > div > div{
  align-content: center;
  display: flex;
}

.spicy img{
  width:45px;
  margin-right: 15px;
  margin-bottom: 5px;
  height:100%;
}

.spicy img:last-child{
  opacity: 0.5;
  margin-right: 0;
}

.spicy-tom-yam-kung img:nth-child(2) {
  opacity: 0.5;
}

.banner-recipe picture img{
  width: 100vw;
  height: calc(45vh + 66px);
  object-fit: cover;
}

/*ingredientes y proceso de preparación*/
.container-flex-recipe{
  display: flex;
  text-align: center;
}

.ingredient,
.preparation-process{
  flex: 50%;
}

.container-flex-recipe h1,
.recomendations-recipe h1{
  line-height: 4rem;
  font-size: 1.3rem;
  background: rgb(25,25,25);
  color: white;
  font-weight: 500;
}

.ingredient > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.2rem;
}

.ingredient figure{
  width: 33%;
}

.ingredient figure img {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.ingredient figcaption{
  padding-bottom: 20%;
}

.preparation-process{
  border-left: 1px solid black;
  padding-bottom: 2%;
}

.preparation-process ol {
  padding: 3% 9% 0;
}

.preparation-process ol li {
  text-align: left;
  padding: 4% 0;
  border-bottom: 1px solid black;
}

.preparation-process ol li:last-of-type {
  border-bottom: 0;
}

/*recetas recomendadas*/
.recomendations-recipe{
  background-color: black;
  text-align: center;
}

.container-recomendations {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  margin-top: 2%;
  padding-bottom: 2%;
  white-space: nowrap; 
}

.recomendations-object{
  display: inline-block;
  margin-right: 1.2%;
  position: relative;
}

.recomendations-object:first-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.recomendations-object:last-child {
  margin-right: 0%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.recomendations-object:hover{
  opacity:0.8;
}

.recomendations-object > div {
  width: 100%;
  background-color: rgba(25,25,25,0.2);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.recomendations-object > div a{
  width: 100%; 
  padding: 5%;
}

.recomendations-object:first-child > div a{
  border-bottom-left-radius: 0;
}

.recomendations-object:last-child > div a{
  border-bottom-right-radius: 0;
}

.recomendations-object > img{
  width: 22vw;
  border-radius: 4px;
  object-fit: cover;
  height: 35vh;
}

.card-link{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  background-color: black;
  opacity: 0.9;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius:  4px;  
}

.card-link:hover{
  background-color: #1c1c1c;
  opacity: 1;
}

.card-link:active{
  background-color: white;
  color: rgb(25,25,25);
  font-weight: 600;
}

/* media queries main detalles de una receta*/
@media (max-width: 992px){

  .banner-recipe{
    height: calc(35vh + 66px);
  }

  .banner-recipe > div{
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column;
  }

  .banner-recipe > div > div{
    min-width: 45%;
    margin-top:5%;
  }

  .banner-recipe > div > div h1{
    font-size: 2.1rem;
    margin-right: 0px;
  }

  .container-flex-recipe{
    flex-direction: column;
  }

  .ingredient > div{
    margin: 2%;
  }

  .ingredient figcaption{
    font-size: 1.03rem;
    padding-bottom: 9%;
  }

  .ingredient figure img {
    height: 75%;
  }

  .preparation-process{
    padding-bottom: 4%;
  }

  .preparation-process h1{
    text-align: center;
    padding-left: 0;
  }

  .preparation-process ol{
    padding-top: 3.5%;
  }

  .preparation-process ol li{
    font-size: 1.03rem;
    padding: 3% 0;
  }

  .recomendations-object{
    margin-right: 1.5%;
  }

  .recomendations-object > div,
  .recomendations-object > img {
    width: 30vw;
  }
}

@media (max-width: 768px) { 
  .banner-recipe > div {
    min-width: 55vw;
  }

  .ingredient > div{
    margin-bottom: 1%;
  }

  .ingredient figure{
    width: 50%;
  }

  .ingredient figure img{
    display: none;   
  }

  .ingredient figcaption{
    padding-bottom: 8%;
    font-size: 1.06rem;
  }

  .ingredient figure:nth-child(11) figcaption p,
  .ingredient figure:nth-child(12) figcaption p{
    padding-bottom: 0;
  }

  .container-flex-recipe h1,
  .recomendations-recipe h1{
    font-size: 1.2rem;
  }

  .preparation-process{
    padding-bottom: 7%;
  }

  .preparation-process ol {
    padding-top: 5%;
  }

  .container-recomendations {
    margin-top: 3%;
    padding-bottom:3%;
  }

  .recomendations-object{
    margin-right: 2.5%;
  }

  .recomendations-object > div,
  .recomendations-object > img {
    width: 40vw;
    display:flex;
  }
}

@media (max-width: 576px){

  .banner-recipe {
    height: calc(35vh + 66px);
  }
  
  .banner-recipe > div{
  padding: 7%;
  }

  .banner-recipe > div h1{
    font-weight: 400;
    font-size: 1.8rem;
    margin-right:0px;
  }

  .banner-recipe > div > div{
    min-width: 70%;
  }

  .spicy{
    margin-top: 9%;
    justify-content: center;
  }

  .spicy img{
    width: 38px;
  }

  .ingredient > div{
    margin-top: 4%;
    margin-bottom: 1%;
  }

  .ingredient figure {
    width: 100%;
  }

  .ingredient figcaption{
    padding-bottom: 7%;
  }

  .ingredient figure:nth-child(11) figcaption p{
    padding-bottom: 8%;
  }

  .preparation-process ol li{
    padding: 5% 0;
    font-size: 1rem;
  }

  .container-recomendations {
    margin-top: 4%;
    padding-bottom:4%;
  }

  .recomendations-object{
    margin-right: 3.5%;
  }

  .recomendations-object > div,
  .recomendations-object > img {
    width: 60vw;
  } 
}

/* footer */
footer{
  background: rgb(25,25,25);
  width: 100vw;
}

footer > div{
  width: 90vw;
  margin: 0 auto;
}

.footer-left ul li {
  line-height: 4.1rem;
  font-size: 1rem;
  display:inline-block;
}

.footer-left ul li a{
  color: white;
  opacity:0.5;
}

.footer-left ul li a:hover{
  color:white;
  opacity:1;
}

.footer-left ul li::after {
  content: "|";
  margin-left:6px;
  margin-right:2px;
  color: #8f9296;
}

.footer-left ul li:last-child::after {
  content: "";
}

.footer-right {
  float: right;   
  color: white;
}

.footer-right a {
  display: inline-flex;
  color: white;
  height: 35px;
  width: 35px;
  background-color: rgba(160,160,160,0.3);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 9px;
  transition: transform 0.3s;
  margin-top:15.5px;
}

.footer-right a:hover{
  transform: scale(1.1); 
  filter: invert(1);
  background-color: #404040;
}

.footer-right a:active{
  background-color: black;
}

.footer-right img{
  width: 56%;
  height: 56%;
}

/* media queries footer */
@media (max-width: 780px){

  footer{
    padding-bottom: 4%;
    padding-top: 2.5%;  
    text-align: center;
  }

  .footer-left ul li{
    line-height: 2rem;
  }

  .footer-right {
    float: none;
    padding-bottom: 4%;

  }
}

@media (max-width: 576px){
  .footer-left ul li {
    line-height: 2rem;
  }
}